.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: var(--size-xl) 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: var(--font-size-h1);
  font-variant-numeric: tabular-nums;
  padding-bottom: var(--size-xl);
}

.finishedText {
  font-size: var(--font-size-h3);
  padding-bottom: var(--size-xl);
}

.createNew {
  position: fixed;
  bottom: var(--size-l);
  right: var(--size-l);
}
