.header {
  font-size: var(--font-size-h2);
}

.newTimerContainer {
  max-width: 500px;
  padding: var(--size-xl);
  margin: 0 auto;
}

.form {
  margin-top: var(--size-l);
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.submit {
  margin-top: var(--size-m);
}
